name: Publish library to NPM & JSR

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.8

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: bun i --ignore-scripts --frozen-lockfile

      - name: Run Biome
        run: bun biome ci

      - name: Typecheck
        run: bun typecheck

      - name: Test
        run: bun run test

      - name: Build
        run: bun run build

      - name: Check exports
        run: bun check-exports

      - name: Create release
        uses: softprops/action-gh-release@v1

      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-to-jsr:
    runs-on: ubuntu-latest
    needs: publish-to-npm
    timeout-minutes: 5
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.8

      - name: Install dependencies
        run: bun i --ignore-scripts --frozen-lockfile

      - run: bunx jsr publish
