name: Publish library to NPM & JSR 

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.2.21

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
            
      - name: Install dependencies
        run: bun i --ignore-scripts --frozen-lockfile

      - name: Typecheck
        run: bun typecheck
      
      - name: Lint
        run: bun lint
      
      - name: Test
        run: bun run test
    
      - name: Build
        run: bun run build

      - name: Check exports
        run: bun check-exports

      - name: Create release
        uses: softprops/action-gh-release@v1
      
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  
  publish-to-jsr:
    runs-on: ubuntu-latest
    needs: publish-to-npm
    timeout-minutes: 5
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.2.21
            
      - name: Install dependencies
        run: bun i --ignore-scripts --frozen-lockfile
      
      - run: bunx jsr publish